@font-face {
	font-family: 'Unifont';
	src: url('/unifont.ttf') format('ttf');
}

body {
	background-color: #303030;
	margin: 0;
}

canvas {
	display: block;
	margin: 0 auto;
	transform: scale(1.5);
}

